
.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  border-width: 20px;
}
.navbar {
  color: white;
}
.nav-link:hover {
  position: relative; 
  color: black;
  border-color: #518fc2;
}
.text-light:hover{
    font-size: 20px;
    background-color: darkslategrey;
}

.top-center {
   background-color: rgb(18, 218, 151);
   border-radius: 70px 20px;
}
.page-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background-size: cover; /* Cover the entire container */
  overflow: hidden; /* Hide any overflow */
}

/* Transparent container */
.transparent-container {
  background-color: rgba(68, 67, 67, 0.7); 
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 500px;          /* Set your desired width */
  height: 650px;         /* Set your desired height */
  overflow-y: auto;      /* Enable vertical scrolling */
  padding: 10px;         /* Optional padding */
  border: 1px solid #ccc; 
  text-align: center;
  
}

.transparent-container h2 {
  margin-bottom: 15px;
  color: #f3e8e8; 
}

.transparent-container p {
  color: #e0f1f1; 
}
.transparent-container b {
  color: black;
  background-color:  rgb(175, 43, 76);
  opacity: 89%;
  border-radius: 70px 20px;
}
.transparent-container strong {
   color: black;
   font-size: 20px;
}
.transparent-container:hover {
  height: 690px;
  width: 900px;
  border-radius: 50px 50px 50px 50px;
}

#carouselExampleRide{
     height: 600px;
     width: 600px;
     z-index: 1;
}
.bton:hover {
  background-color: #2980c7;
  color: white;
}
.bton {
  font-size: 1.23em;            
  border-radius: 50px; 
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  color: black;
  background-color: lightseagreen;
  width: 200px;
}