
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main-content {
    flex: 1; 
  }
  .contact {
    background-color: rgb(36, 43, 36); 
    padding: 20px;
    text-align: center; /* Center text */
    border-top: 1px solid #ddd; /* Optional top border */
  }
  
  .contact h2 {
    margin-bottom: 10px;
    background-color:lightseagreen;
    border-radius: 30px;
  }
  
  .contact p {
    margin: 5px 0;
    font-size: 20px;
    color: lightyellow;
  }
  
  .contact a {
    color: #007bff; 
    text-decoration: none;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }
  